body{
    margin: auto;
    width: 60;
}

header{
    display: flex;
    justify-content: center;
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: sans-serif;
}

header ul li{
    list-style: none;
}

section form ul li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

section form ul li label{
    font-size: 22px;
}

section{
    font-family: sans-serif;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    font-size: medium;
}

section button{
    margin: 5px;
    font-size: 20px;
    border-radius: 6px;
    transition: transform 0.5s;
}

section button:hover{
    transform:  scale(1.05);
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 5px;
    font-size: medium;
}